* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Arial Unicode MS, Arial, sans-serif;;
    font-size:small;
    font-weight:700;
    line-height:1.6em;
}

#navbar{
    background-color:#f8f4fc; 
    border-style:none none solid none;
    border-color:#bbbbbb;
    border-width:1px;
}

#navbar a{
    color:#666666;
    text-decoration:none;
    padding:0px 10px;
    font-size:17px;
    font-weight:bold;
}

#navbar a:hover{
    background-color:#e0edfe;
}

.container{
    margin:auto;
    display:flex;
    justify-content:flex-start;
}

.box1{
    float:left;
    margin-left:35%;
    margin-top:25px;
    width:30%;
}

.box2{
    float:left;
    position:absolute;
    margin-left:40%;
    width:60%;
} /*trzeba zrobic tak zeby to nie bylo przezroczyste tak jakby, i zeby sie skalowalo jak sie strona zmniejsza, zmienic na flexboxy */

.box2 h1{
    font-size:30px;
    font-weight:300;
    margin-bottom: 10px;
    margin-left:25px;
    margin-top:30px;
}

.box2 p{
    font-size:20px;
    font-weight: 300;
}

.clr{
    clear:both;
}

.my-form{
    background-color:red;
    position:absolute;
    margin:25%;
} /* a tu to kurwa zrobic cos XD */











