* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

@media(min-width:768px){
    .container{
        display:flex;
        justify-content: center;
    }
}

body{
    font-family:Arial Unicode MS, Arial, sans-serif;;
    font-size:small;
    font-weight:700;
    line-height:1.6em;
}

#navbar{
    background-color:#f8f4fc; 
    border-style:none none solid none;
    border-color:#bbbbbb;
    border-width:1px;
}

#navbar a{
    color:#666666;
    text-decoration:none;
    padding:0px 10px;
    font-size:17px;
    font-weight:bold;
}

#navbar a:hover{
    background-color:#e0edfe;
}

.container div{
    border:1px #ccc solid;
    display:flex;
}

.box1{
    flex:2;
    justify-content: flex-end;
}

.box1 img{
    margin-top:20px;
}

.box2{
    flex:3;
    flex-direction: column;
    align-items: flex-start;
    align-self:center;
} /*trzeba zrobic tak zeby to nie bylo przezroczyste tak jakby, i zeby sie skalowalo jak sie strona zmniejsza, zmienic na flexboxy */

.box2 h1{
    font-size:32px;
    font-weight:300;
}

.box2 p{
    font-size:20px;
    font-weight: 300;
}
/*
.clr{
    clear:both;
}
*/
.my-form{
    text-align: center;
    background-color:red;
    margin-left:750px;
    margin-right:750px;
    padding:25px;
    border: solid #ccc;
    border-radius: 10px;
} /* a tu to kurwa zrobic cos XD */

.form-group{
    padding:25px;
}










